streamlit==1.25.0
pymilvus==2.4.3
requests==2.31.0
beautifulsoup4==4.12.3
selenium==4.11.1
webdriver-manager==4.0.1
transformers==4.41.2
python-dotenv==1.0.1
dask==2024.5.2
readability-lxml==0.8.1
trafilatura==1.10.0
llama-index==0.10.44
llama-index-vector-stores-milvus==0.1.20
pytest==7.4.0
black==23.3.0
pre-commit==3.2.2
isort==5.13.2
